<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-form-field>
    <input matInput type="text" name="title" ngModel required minlength="4">
  </mat-form-field>
  <mat-form-field>
  <mat-error *ngIf="postForm.getControl(title).invalid">required title.</mat-error>
</mat-form-field>
<mat-form-field>
  <textarea matInput rows="1" name="content" ngModel require #content="ngModel"></textarea>
  <mat-error *ngIf="postForm.getControl(content).invalid">required content.</mat-error>
</mat-form-field>
<button mat-raised-button  color="primary" type="submit">Save </button>
</form>
</mat-card>
<hr>
